@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body, html {
    height: 100%;
    background-color: #F2E8CF;
    font-family: 'Playfair Display', serif;
  }
  
  h1{
    font-weight: 700;
    font-size: 40px;
  }

  h2{
    color: #DC3545;
  }

  h4{
    font-size: 20px;
  }

  h5{
    font-size: 17px;
  }

  p{
    font-size: 16px; 
    font-weight: 400;
  }

  li{
    font-size: 16px;
  }


  .bg {
    /* The image used */
    background-image: url("LeahBascomHill.JPG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sections {
    height: 100%;
    width: 100%;
    padding-top: 150px;
  }

  .left{
    width: 50%;
    height: 100%;
    background-color: #DC3545;
    position: fixed;
  }

  .right{
    width: 50%;
    text-align: center;
    background-color: #F2E8CF;
    padding-left: 200px;
    padding-right: 5px;
    float: right; 
    padding-right: 4.5%;
    padding-top: 4%;
  }


.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.nameLogo{
  position: fixed; 
  width: 100%;
  height: 40%;
  text-align: center;
}


.overlay{
  position: fixed;
  top: 250px;
  left: 0;
  width: 55%;
}

.resume{
  margin: 60px;
  padding: 30px;
  background-color: #F2E8CF;
  border-style: solid;
  border-width: 30px;
  border-color: #DC3545;
}



.accordion {
  background-color: #F2E8CF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid;
  border-color: black;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #DC3545;
}

.panel {
  padding: 0 18px;
  background-color: #F2E8CF;
  display: none;
  overflow: hidden;
  text-align: left;
}

.skills{
  text-align: center;
  margin-left: 20px;
}

.res{
  padding-top: 5%;
  padding-left: 8%;
  padding-right: 5%;
  height: 85%;
}

.top{
  height: 15%;
  padding-left: 5%;
}

.tOne{
  width: 50%;
  float: left;
  height: 90px;
}

.middle{
  height: 25%;
  padding: 5%;
}

.mOne{
  width: 50%;
  float: left; 
  height: 400px;
}

.bottom{
  height: 600px;
  text-align: center;
  padding-bottom: 5%;
  margin: 10px;

}

.bOne{
  padding: 5px;
}

.bQuarters{
  width: 33%;
  float: left; 
}

.sectionOne{
  width: 40%;
  float: left;
  text-align: center;
  padding: 5%;
}

.sectionTwo{
  width: 50%;
  float: left;
  text-align: center;
  padding: 5%;
  padding-top: 6%;
  padding-right: 2%;
}

.sectionThree{
  width: 100%;

}